/* Reset default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
	border-radius: 10px;
}

/* Global styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.15;
    background-color: lavender;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Navigation styles */
ul {
    background-color: rgb(10,100,10);
	color:white;
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
	border: 2px solid white;
	margin: 10px;
	padding:10px;
	list-style-type: none;
	
}

ul li {
	color:white;
    margin-right:30px;
    padding: 10px 20px; 
    background-color: green; 
    border: 1px solid white; 
    border-radius: 10px; 
    transition: background-color 0.3s, color 0.3s;
	text-align:center;
}

ul li a {
	color:pink;
    text-decoration: none;
    font-weight: bold;
	font-family: 'Times New Roman';
}

/* Header styles */
#home {
    background-color: #f9f9f9;
    padding: 30px;
    text-align: center;
}

#home span {
    font-size: 50px;
    color: solid black;
	text-shadow: 1px 1px silver;
	padding: 3px; 
	font-family:helvetica;
}

/* Photo container styles */
.photo-container {
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
	width:cal(33.33% - 20px);
	margin-right:20px;
	margin-left:55px;
	display:inline-block;
	vertical-align:top;

}

.photo {
    position: relative;
    width: auto;
	height:auto;
	overflow:hidden;
}

.photo img {
	display:flex;
	flex-direction: row;
    width: 380px;
    height: 340px;
    display: block;
	margin:0 auto;
}

.photo-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 20px;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.photo:hover .photo-overlay {
    opacity: 1;
}

/* Reservation section styles */
#contact {
    text-align: center;
    border-style: hidden;
    border-radius: 10px;
    width: 40%;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 1px 1px 10px rgb(200, 250, 255);
    background-color: aliceblue;
    margin-top: 1rem;
	margin-bottom: 1rem;
}

/* Footer styles */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}
